.popup{
    width: 300px;
    height: 550px;
    font-family: 'Roboto', sans-serif;
}
.img{
    margin-left: 100px ;
    border-radius: 20px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.popup>h2{
    text-align: center;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 10px;
    padding: 15px;
    cursor: pointer;
}

.button{
    padding: 15px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: 10px;
    background-color:  rgb(53, 176, 207);
    color: #fff;
    border: 0;
    cursor: pointer;
    margin-left: 50px;
    margin-right: 50px;
}

.popup h4{
    padding: 15px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: 10px;
    background-color:  rgb(78, 220, 255);;
    color: #fff;
    cursor: pointer;
}

.logo{
    margin-right: 20px;
}
.covid{
    height: 250px;
    width: 250px;
    border-radius: 200px;
    background-color: rgb(233, 78, 78);
    opacity: 0.5;
}


